*.so
*.db
*.root
*.dat
*.yoda
*.pyc
*.json
*.db.bak
*.tex
False

#symlink
rivet-analysis-files/MCGRID_CMS_2015_Zee.yoda

#no need to track
mcgrid/MCgrid_CMS_2015_Zee*.evtcount
herafitter/*.json

#Sherpa files
sherpa-cfg/MIG_P+P+_8000_ct10_1.db
sherpa-cfg/Process/
sherpa-cfg/Results.db
sherpa-cfg/*.hepmc
sherpa-cfg/makelibs
sherpa-cfg/Sherpa_References.tex
sherpa-cfg/Results_NLO.*
sherpa-cfg/Status__*

test/
plots/
websync/
latest_sherivf_output

herafitter/CMS_Zee_*.txt
heratest/
